{% assign user = site.data.users[40] %}

<div class="sidebar">
	<div class="sidebar-header">
		Sidebar header
	</div>
	<div class="sidebar-content">
		<div class="list-group list-group-flush">
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>
				Alerts
			</a>
			<div class="list-group list-group-flush pl-5">
				<a href="#" class="list-group-item list-group-item-action">
					<span class="icon mr-3"><i class="fe fe-airplay"></i></span>
					Foo
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<span class="icon mr-3"><i class="fe fe-airplay"></i></span>
					Foo
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					<span class="icon mr-3"><i class="fe fe-airplay"></i></span>
					Foo
				</a>
			</div>

			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-user"></i></span>
				Avatars
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-plus-square"></i></span>
				Buttons
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-feather"></i></span>
				Colors
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-image"></i></span>
				Cards
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-pie-chart"></i></span>
				Charts
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-check-square"></i></span>
				Form components
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-tag"></i></span>
				Tags
			</a>
			<a href="#" class="list-group-item list-group-item-action">
				<span class="icon mr-3"><i class="fe fe-type"></i></span>
				Typography
			</a>
		</div>
	</div>
	<div class="sidebar-footer">
		Sidebar footer
	</div>
</div>

