{% assign user = site.data.users[40] %}

<div class="sidebar">
	<div class="sidebar-header border-bottom">
		<div class="btn-group dropright w-100 dropdown-workspace">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-lg text-left dropdown-toggle btn-workspace" data-toggle="dropdown" id="selectWorkspace" type="button">
				Workspace 1
			</button>
			<div aria-labelledby="selectWorkspace" class="dropdown-menu">
				<a class="dropdown-item" href="#">Workspace 1</a>
				<a class="dropdown-item" href="#">Workspace 2</a>
				<a class="dropdown-item" href="#">Workspace 3</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Manage workspace</a>
			</div>
		</div>
	</div>
	<div class="sidebar-body">

		<ul class="nav flex-column" aria-orientation="vertical">
			{% assign menu = site.data.menu %}
			{% assign menu_levels = layout.menu | default: page.menu | split: '.' %}

			{% for item in menu %}
			<li class="nav-item">
				{% assign index = item[0] %}
				{% assign data = item[1] %}
				{% assign menu_item_id = 'subpage-' | append: index %}
				{% assign menu_item_aria_expanded = ' aria-expanded="false"'%}

				{% assign menu_item_class = 'nav-link' %}
				{% if menu_levels[0] == 'dashboard-alt' %}
					{% assign menu_item_class = menu_item_class | append: ' active' %}
					{% assign menu_item_aria_expanded = ' aria-expanded="true"'%}
					{% assign menu_item_class = menu_item_class | append: ' in' %}
				{% endif %}
				{% if data.disabled %} {% assign menu_item_class = menu_item_class | append: ' disabled' %} {% endif %}

				{% assign menu_item_href = '' %}
				{% if data.url %}
					{% if data.url != '#' %}
						{% assign menu_item_href = site.base | append: '/' %}
					{% endif %}
					{% assign menu_item_href = data.url %}
				{% else %}
					{% assign menu_item_href = 'javascript:void(0)' %}
				{% endif %}

				{% assign extradata = '' %}
				{% if data.subpages %}
					{% assign extradata = 'data-toggle="collapse"' | append: menu_item_aria_expanded %}
					{% assign menu_item_class = menu_item_class | append: ' collapsed' %}
					{% assign menu_item_href = '#' | append: menu_item_id %}
				{% endif %}

				<a href="{{ menu_item_href }}"
					class="{{ menu_item_class }}"{{ extradata }}>
					<span class="icon mr-3">{% if data.icon %}<i class="{{ data.icon }}"></i>{% endif %}</span>
					<span class="text">{{ data.name }}</span>
					{% if data.count %} <span class="badge badge-pill bg-primary text-white ml-2">{{ data.count }}</span>{% endif %}
				</a>

				{% if data.subpages %}
					<div class="collapse nav-collapse-wrapper" id="subpage-{{ index }}">
						<ul class="nav flex-column list-unstyled" >
							{% for subitem in data.subpages %}
								{% assign subindex = subitem[0] %}
								{% assign subdata = subitem[1] %}
								<li class="nav-item">
									<a href="{{ site.base }}/{{ subdata.url }}" class="nav-link dropdown-item pl-7 {% if menu_levels[1] == subindex %}active{% endif %}">{{ subdata.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>

	</div>
	<div class="sidebar-footer">
		<div class="row">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
	</div>
</div>
